header {
  width: 100%;
  background-color: #ff5e5c;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
    max-width: 1600px;
    min-height: 100px;
  }

  .game-controls {
    display: flex;
    gap: 10px;

    button {
      appearance: none;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      background-color: #fff;
      font-size: 16px;
      font-weight: bold;
      text-transform: uppercase;
      transition: background-color 0.3s ease;
      cursor: pointer;

      &:hover {
        background-color: #f3dada;
      }
    }
  }
}
