.table-wrapper {
  width: 100%;

  h4 {
    margin: 0;
    padding: 5px 0;
    background-color: #f6a4a4;
    text-align: center;
  }

  &:not(:first-child) {
    margin-top: 15px;
  }

  table {
    width: 100%;
    border-collapse: collapse;

    thead {
      background-color: rgba(204, 204, 204, 0.35);
    }

    tbody {
      tr {
        &:not(:last-child) {
          border-bottom: 1px solid #ccc;
        }
      }
    }
  }
}